<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Churn analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	 <label for="PaymentMethod">Payment Method:</label>
				<select id="Payment Method" name="Payment Method" size="">
  					<option value="Electronic check">Electronic check</option>
  					<option value="Credit card (automatic)">Credit card</option>
  					<option value="Bank transfer (automatic)">Bank transfer</option>
  					<option value="Mailed check">Mailed check</option>
</select> 
                  <br></br>
    	 <label for="Contract">Contract Type:</label>
				<select id="Contract" name="Contract" size="">
  					<option value="Month-to-month">Month-to-month</option>
  					<option value="One year">One year</option>
  					<option value="Two Year">Two Year</option>
</select> 
                  <br></br>
    	 <label for="StreamingMovies">Streaming Movies Services:</label>
				<select id="StreamingMovies" name="Streaming Movies" size="">
  					<option value="No">No</option>
  					<option value="Yes">Yes</option>
  					<option value="No internet service">No internet service</option>
</select> 
<br></br>
    	 <label for="StreamingTV">StreamingTV Services:</label>
				<select id="StreamingTV" name="StreamingTV" size="">
  					<option value="No">No</option>
  					<option value="Yes">Yes</option>
  					<option value="No internet service">No internet service</option>
</select> 
<br></br>
    	 <label for="InternetSecurity">Internet Security:</label>
				<select id="StreamingTV" name="InternetSecurity" size="">
  					<option value="No">No</option>
  					<option value="Yes">Yes</option>
  					<option value="No internet service">No internet service</option>
<br></br>
                  </select>
         <input type="number" name="Tenure" placeholder="Fidelidade" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
